<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BusinessFinancialAccounting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BusinessFinancialAccounting.styles.css" asp-append-version="true" />
</head>
<style>
    html, body {
        height: 100%
    }
</style>
<body class="d-flex flex-column min-vh-100">
    @if (TempData["AlertMsg"] != null)
    {
        string alertType = TempData["AlertType"]?.ToString() ?? "info";
        <div class="alert alert-@alertType alert-dismissible fade show" style="position: absolute; top: 10px; right: 10px; z-index: 999;">
            @TempData["AlertMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    Logo
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        @if (Context.Session.GetString("Username") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Cash" asp-action="CashBalance">Каса</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Products">Товари</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Продаж</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Звіти</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("Username") != null)
                        {
                            <li class="nav-item">
                                <span class="navbar-text text-dark me-2">
                                    Привіт, @Context.Session.GetString("Username")
                                </span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger btn-sm px-3">Вийти</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary btn-sm me-2 px-3" asp-controller="Account" asp-action="Login">Увійти</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-primary btn-sm px-3" asp-controller="Account" asp-action="Register">Реєстрація</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center mt-auto text-muted py-3 bg-light shadow-sm">
        <p>&copy; @DateTime.Now.Year - Ведення фінансового обліку малого бізнесу</p>
    </footer>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
